/*------------ Main Structure ------------*/

html {
    background: url("http://www.blended-html.com/background-images/bi-background-blue.png") repeat;
}

body {
    
    font-family: Arial, Helvetica, sans-serif;
    color: #f5f5f8;
    font-size: 16px;
}

nav {
    position: fixed;
    width: 100%;
    height: 72px;
    background-color: #ffffff;
    border-bottom: 4px solid #c7c2c2;
    z-index: 1; /* To avoid content from going over navbar when scrolling */
}

section {

    width: 960px;
    padding-top: 150px;
    margin: 0 auto;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 10px;
	color: #cccccc;
	background-color: #666666;
	border-top: 8px solid #4aaaa5;
    text-align: center;
}

/* Standard for all pages */
.about, .contact, .portfolio {
    position: relative;
    width: 910; /* 960 - 50 from padding */
    padding: 25px;
    margin-bottom: 150px;
    color: #5c5858;
    background-color: #ffffff;
    border-color: #dddddd;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

/* Clearfix hack */
.about,.portfolio,.contact::after{
    content: "";
    display: block;
    clear: both;
}

/* Define h1 style */
h1 {
    position: fixed;
    font-size: 24px;
    font-weight: bold;
    color: #444040;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Define h2 style */
h2 {
    font-size: 34px;
    font-weight: bold;
    color: rgb(157, 207, 197);
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Define hr style */
hr {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dddddd;
}

/*---------- Main Structure End ----------*/


/*------------ Navigation ------------*/

.navWrapper {
    width: 960px;
    margin: 0 auto;
}

.navLeft {
    float:left;
    background-color: #4aaaa5;
    padding: 24px 16px;
}

.navRight {
    float: right;
    font-size: 18px;
    margin: 24px auto;
}

/* Navigation menu items */
.navWrapper ul li {
    display: inline-block;
}

/* Navigation separator | */
.navWrapper ul li+li {
	border-left: 1px solid #dddddd;
}
 
.navWrapper a {
    padding: 15% 8px 20px 8px;
    margin: 10px;
    text-align: right;
    text-decoration: none; /* remove underlining */
}

.navWrapper a:link {
    color: #4e4b4b;
}

.navWrapper a:visited {
    color: #4e4b4b;
}

.navWrapper a:hover {
    background-color: rgb(160, 204, 195);
    color: #ffffff;
}

.navWrapper a:active {
    background-color: rgb(160, 204, 195);
    color: #ffffff;
}

/*---------- Navigation End ----------*/


/*------------ About Page ------------*/

.about p {
    text-align: justify;
}

img.profile {
    float: left;
    padding: 10px 20px 20px 0px;
    width: 200px;
    height: 230px;
}

/*---------- About Page End ----------*/


/*------------ Portfolio Page ------------*/

.portfolio ul {
    width: 610px;
    margin: 0 auto;
    text-align: justify;
}

.portfolio li {
    position: relative;
    display: inline-block;
	width: 270px;
    height: 200px;
    border: 1px solid #dddddd;
    margin: 15px;
    padding: 0;
    transition: all .2s ease-in-out; /* Scale on Hover with Transition */
}

.portfolio p {
    position: absolute;
    width: 270px;
	bottom: 50px;
	text-align: center;
	padding: 10px 0px 10px 0px;
	color: #ffffff;
}

 /* Scale on Hover with Transition */
.portfolio li:hover {
    transform: scale(1.1);
}

/*---------- Portfolio Page End ----------*/


/*------------ Contact Page ------------*/

.form {
    width: 910px; /* 960 - 50 from padding */
    margin: 0 auto;
    padding: 0 auto;
}

#contactform {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

input[type=text], textarea {
    width: 880px; /* 960 - 50 -30 from padding */
    padding: 15px;
    border: 1px solid #dddddd;
    color: #cccccc;
    border-radius: 4px; /* rounded corners */
}

textarea {
    height: 200px;
}

#submit {
    background-color: #4aaaa5;
	color: #ffffff;
	border: none;
    padding: 15px 24px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Shadow effect */
}

#submit:hover
{
  background-color: #53BFBA;
}

/*---------- Contact Page End ----------*/
